<div class="app-content">
    <router-outlet></router-outlet>
</div>
<footer class="app-footer">
    <div class="footer-content">
        <div class="footer-item">
            <i class="fab fa-whatsapp" style="color: #25D366;"></i>
            <a href="https://wa.me/972505670930" target="_blank" style="color: #81ecec; text-decoration: none">
                0505670930
            </a>
        </div>
        <!-- <div class="footer-item">
            <i class="fas fa-link" style="color: #24a0ff;"></i>
            <a href="https://viventoevents.com" target="_blank"
                style="color: #81ecec; text-decoration: none">Vivento</a>
        </div> -->
        <div class="footer-item">
            <i class="fas fa-envelope"></i>
            <a href="mailto:vivento.event@gmail.com"
                style="color: #81ecec; text-decoration: none">vivento.event@gmail.com</a>
        </div>
    </div>
</footer>